@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot?68949391");
  src: url("../fonts/icons/icons.eot?68949391#iefix")
      format("embedded-opentype"),
    url("../fonts/icons/icons.woff2?68949391") format("woff2"),
    url("../fonts/icons/icons.woff?68949391") format("woff"),
    url("../fonts/icons/icons.ttf?68949391") format("truetype"),
    url("../fonts/icons/icons.svg?68949391#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\e800";
} /* '' */
.icon-angle-right:before {
  content: "\e801";
} /* '' */
.icon-arrow:before {
  content: "\e802";
} /* '' */
.icon-close:before {
  content: "\e803";
} /* '' */
.icon-hamburger:before {
  content: "\e804";
} /* '' */
