/*------------------------------------------------
COMMON
------------------------------------------------*/
body.menu--is-open:after {
  content: "";
  background-color: #000000;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
}

.container {
  height: unset;
}

.section {
  flex-direction: column;
}

/*------------------------------------------------
PARAGRAPH
------------------------------------------------*/
p {
  margin-bottom: 40px;
}

/*------------------------------------------------
HEADER
------------------------------------------------*/
.header {
  top: 40px;
  left: 30px;
  width: calc(100% - 30px * 2);
}

#button-open-menu {
  display: block;
  position: absolute;
}

#button-close-menu {
  display: block;
}

#menu {
  position: fixed;
  background-color: #ffffff;
  color: #000000;
  margin: -40px 0 0 -30px;
  width: 100%;
  padding: 40px 30px;
  font-family: "Spartan-Bold";
  transform: translateY(-100%);
  display: flex;
  transition: 0.4s ease;
}

#menu.is--open {
  transform: translateY(0);
}

.header_nav_list:first-of-type {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-right: 0;
}

/*------------------------------------------------
CAROUSEL
------------------------------------------------*/
#carousel {
  height: unset;
}

#carousel .section_content:first-of-type {
  width: 100%;
  height: 60vh;
}

#carousel .section_content:last-of-type {
  width: 100%;
  padding: 40px 30px;
}

.navigation-carousel {
  transform: translate(0);
}

/*------------------------------------------------
FOOTER
------------------------------------------------*/
#footer {
  height: unset;
}

#footer .section_content {
  width: 100%;
}

#footer .section_content:not(:nth-of-type(2)) {
  height: 300px;
}

#footer .section_content:nth-of-type(2) {
  padding: 40px 30px;
}
}